@import 'npm:@picocss/pico';

body {
    overflow: hidden;
}

a {
    margin: 1%;
}

.Overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 35%;
    height: 100%;
    margin: 2%;
    padding: 0%;
    z-index: 10;
    overflow: hidden;
    color: white;
}