@import 'npm:@picocss/pico';

#grid {
    display: flex;
    justify-content: center;
}

article {
    margin: 1vh;
    padding: 3vh;
}

h4 {
    margin-bottom: 1%;
}

a {
    margin: 1%;
}

#row-large {
    flex: 2;
    flex-grow: 2;
    overflow: hidden;
}

#row-small {
    flex: 1;
    flex-grow: 1;
    overflow-y: auto;
}

#invisible {
    display: none;
}

#Overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 10;
    color: white;
}